body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-section{
    display: flex;
    margin-left: 50px;
    margin-bottom: 0px;
}

.top-section img{
    width: 100%;
    height: 85%;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 25px;
}

.content1{
    text-align: justify;
    vertical-align: middle;
    margin-top: 150px;
    padding-right: 60px;
}

span{
    color: orange;
}

.content1 a, .third-section a, .forth-section a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 30px ;
    border-radius: 10px;
}

.top-section h1{
    border-left: 5px solid;
    border-image: linear-gradient(orange , tomato);
    border-image-slice: 1;
}

.mid-section{
    text-align: center;
}
.mission{
    background-color: #4f9da6;
    height: 376px;
    width: 360px;
    border-radius: 12px;
}

.vision{
    background-color: #ff5959;
    height: 376px;
    width: 360px;
    border-radius: 12px;
}

.goals{
    background-color:#FFF4D6 ;
    height: 376px;
    width: 360px;
    border-radius: 12px;
}

.tintaportion{
    display: flex;
    justify-content: center;
}

.mission, .vision, .goals{
    margin-left: 20px;
    margin-bottom: 30px;
}

.tintaportion img{
    height: 141px;
    width: 141px;
}

.mission, .vision, .goals p{
    padding: 8px;
}

.third-section img, .forth-section img{
    height: 400px;
    width: 400px;
    margin-left: 100px;
}

.third-section, .forth-section{
    margin: 80px;
    display: flex;
    justify-content: center;
}

.third-section div, .forth-section div{
    width: 50%;
}


footer{
    background-color: #0B0D17;
    height: 177px;
    width: 1440;
    color: white;
    text-align: center;
}

.extradiv{
    justify-content: center;
    text-align: center;
}

.display{
    display: flex;
    justify-content: center;
}
.growth{
    background-color: #FFF4D6;
    width: 300px;
    height: 400px;
    margin: 20px;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 35px;
}

.growth img{
    width: 160px;
    height: 200px;
    margin-top: 10px;
}